<h1>Add a store</h1>

<p>Add a store here:</p>

<form action="/stores" method="post">
  <label for="name">store name</label>
  <input id="name" name="name" type="text">
  <button type="submit" class="btn btn-success">Add store</button>
</form>
